ckpt/
data/**
runs/

# temp folder and files
**/temp/
**/temp.*

# compile file
**/.asv
**/__pycache__/
**/.idea/
**/.vscode/
**/.DS_Store

# backup
!data/label.csv
!data/profile.csv
!data/feature
!data/feature/sample_map.csv
